* {
  border: 3px solid black;
}


body {
    background-color: rgb(224,237,223);
    text-align: center;
  }
  
  /* links */
  
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  ul {
    list-style-type: none;
    margin: 5;
    padding: 5;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgb(0, 0, 0);
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.section {
    float: center;
    width: 33.33%;
    padding: 5px;
  }

  article {
      float: right;
      width: 40%;
      border: 1px;
  }
